@model Portfolio.Models.ContactViewModel
@{
    ViewBag.Title = "Home Page";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script> @*need for captcha*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


@section Modal {
    <!-- Portfolio Modals -->
    @for (int i = 0; i < ViewBag.gridItems.Length; i++)
    {
        gridItem item = ViewBag.gridItems[i];
        <!-- Portfolio Modal @(i) -->
        <div class="portfolio-modal modal fade" id="portfolioModal@(i)" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title -->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@item.title</h2>
                                    <!-- Icon Divider -->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon">
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image -->
                                    <img class="img-fluid rounded mb-5" src="@item.imamgeScr" alt="@item.imageAlt">
                                    <!-- Portfolio Modal - Text -->
                                    <p class="mb-5">@item.discription</p>
                                    <a class="btn btn-primary" href="@item.link">
                                        <i class="fas fa-times fa-fw"></i>
                                        Visit The project site
                                    </a>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="~/Content/img/avataaars.svg" alt="">
            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Bruce Smith</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">Programmer - It Expert - Repair</p>
        </div>
    </header>
    <!-- Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items -->
            <div class="row">
            @for (int i = 0; i < ViewBag.gridItems.Length; i++)
            {
                gridItem item = ViewBag.gridItems[i];
                <!-- Portfolio Item @(i) -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal@(i)">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="@item.thumbImamgeScr" alt="@item.thumbImageAlt">
                    </div>
                </div>
            }
            <!-- /.row -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Computers have been my passion for my entire life. I have experience in both programming and IT. In both high school and college, I excelled in programming. When I was in high school I was awarded an internship at Cerner.  For A portion of each school day, I would leave school to work at Cerner.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">My managers were impressed with me and wrote letters of recommendation for me. I completed a full-stack web development course at Centriq and was awarded a certificate. I have an associate's degree in computer science'.  Click the link below to download my resume.</p>
            </div>
        </div>


        <!-- About Section Button -->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="~/Content/RESUME.pdf">
                <i class="fas fa-download mr-2"></i>
                Download Resume!
            </a>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!--contact forum-->
        <div id="ContactForum">
            @using (Html.BeginForm())
            {

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" ,@id="nameBox"} })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <div id="nameError" class="text-danger">* Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" ,@id="emailBox"} })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <div id="emailError" class="text-danger">* Email is required</div>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" ,@id="subjectBox"} })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" ,@id="messageBox"} })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            <div id ="messageError" class="text-danger">* Message is required</div>
                        </div>
                    </div>
                    @*start captcha code*@
                    <div id="" class="g-recaptcha" data-sitekey="@ViewBag.captchaSiteKey"></div>
                    @Html.Raw(ViewBag.test)
                    @*end captcha code*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="ContactSubmitButton" type="submit" value="Send" class="btn btn-primary btn-xl" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="output" class="px-4 py-5 my-5 text-center"></div>
        <div id="LoadingPlaceHolder" style="visibility: hidden;">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</section>
<script src="/Content/js/Script.js"></script>